<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--应用地址-->
    <add key="appUrl" value="http://127.0.0.1:8080/"/>
    <!--hessian地址-->
    <add key="hessianUrl" value="http://127.0.0.1:8080/hessian"/>
    <add key="mysqlUrl" value="server=192.168.4.13;user id=root;password=root;database=jeesite;CharSet=utf8;pooling=false;"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>